<div class="mt-4">
  <form action="/courses/handle-form-actions" method="POST" name="container-form">
    <div><h2>Khoa hoc cua toi</h2>
    <a href="/me/trash/courses">Thung rac ({{deletedCount}})</a>
    </div>
    <div class="d-flex align-items-center gap-3">
      <div class="mt-4 d-inline-flex ">
      <div class="mb-3 form-check">
    <input type="checkbox" class="form-check-input" id="checkBoxAll">
    <label class="form-check-label" for="checkBoxAll">Chon tat ca</label>
  </div>
    </div>
 <select class="form-select-sm " aria-label="Default select example" name="action" required>
  <option value="" selected>----Chon hanh dong</option>
  <option value="delete">Xoa</option>
</select>
<button class="btn btn-primary btn-sm disabled check-all-submit-btn">Thuc hien</button>
    </div>
   
  <table class="table mt-4">
    <thead>
      <tr>
        <th scope="col" colspan="2">#</th>
        <th scope="col " style="width:120px;">Name {{{sortable 'name' _sort }}}</th>
        <th scope="col">Level {{{sortable 'level' _sort }}}</th>
        
        <th scope="col">Thoi gian tao {{{sortable 'createdAt' _sort }}}</th>
        <th scope="col">Hanh Dong</th>
      </tr>
    </thead>
    <tbody>
      {{#each courses}}
        <tr>
          <td><div class="mb-3 form-check">
         <input type="checkbox" class="form-check-input" name="courseIds[]" value="{{this._id}}" >
        </div>
        </td>
          <th scope="row">{{this._id}}</th>
          <td>{{this.name}}</td>
          <td>{{this.level}}</td>
          
          <td>{{this.createdAt}}</td>
          <td class="d-flex gap-1">
            <a href="/courses/{{this._id}}/edit" class="btn btn-primary">Sua</a>
            <a
              class="btn btn-danger"
              data-bs-toggle="modal"
              data-bs-target="#delete-Courses-Modal"
              data-bs-id="{{this._id}}"
            >Xoa</a>
          </td>
        </tr>

      {{else}}
        <tr class="text-center">
          <td colspan="5">Ban chua dang khoa hoc nao.<a
              href="/courses/create"
            >Dang khoa hoc</a></td>

        </tr>
      {{/each}}
    </tbody>
  </table>
  </form>
  
</div>

{{! Confirm delete courses }}
<form method="POST" action="" name="delete-Form">
  <div id="delete-Courses-Modal" class="modal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Modal title</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <p>Ban co muon xoa khoa hoc nay? </p>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-primary"
            data-bs-dismiss="modal"
          >Huy</button>
          <button
            id="btn-delete-courses"
            type="button"
            class="btn btn-danger"
          >Xoa bo</button>
        </div>
      </div>
    </div>
  </div>
</form>

<script>
 
  document.addEventListener("DOMContentLoaded", () => {
  var checkBoxAll = document.querySelector('#checkBoxAll');
  const modal = document.getElementById("delete-Courses-Modal");
  const deleteForm = document.forms["delete-Form"];
  const btnConfirmDelete = document.getElementById("btn-delete-courses");
  const btnCheckAllSubmit= document.querySelector(".check-all-submit-btn");

  var courseItemCheckBox = document.querySelectorAll('input[name="courseIds[]"]');
  
  let courseId = null;
  // check box all click
  checkBoxAll.addEventListener("change",(e)=>{
     const isChecked =  e.target.checked;
      courseItemCheckBox.forEach(cb=>{
        cb.checked = isChecked;
      }) 
      renderCheckAllSubmitBtn();
  })

//check all submit button click

btnCheckAllSubmit.addEventListener("click",function(e){
 btnCheckAllSubmit.addEventListener("submit",(e)=>{
  var isSubmittable  = !btnCheckAllSubmit.classList.contains("disabled");

  if(isSubmittable){
    document.forms["container-form"].submit();
  }
  else{
     e.preventDefault();
  }
 });
})

// course item check box click

courseItemCheckBox.forEach(cb => {
  cb.addEventListener("change", (e) => {
    const checkedAll = courseItemCheckBox.length === document.querySelectorAll('input[name="courseIds[]"]:checked').length;
    // đồng bộ ngược lại với "chọn tất cả"
    checkBoxAll.checked = checkedAll;
    renderCheckAllSubmitBtn();

  });
});
// Re-render check all submit button
function renderCheckAllSubmitBtn(){
  var checkedCount = document.querySelectorAll('input[name="courseIds[]"]:checked').length;
  console.log(checkedCount);
  if(checkedCount > 0){
    btnCheckAllSubmit.classList.remove('disabled');
  }else{
    btnCheckAllSubmit.classList.add('disabled');
  }
}



  if (modal) {
    // Khi modal mở
    modal.addEventListener("show.bs.modal", (event) => {
      const button = event.relatedTarget; // nút bấm mở modal
      courseId = button.getAttribute("data-bs-id"); // lấy id từ data-bs-id
    });

    // Khi click nút xác nhận xóa
    btnConfirmDelete.addEventListener("click", () => {
      if (courseId) {
        deleteForm.action = `/courses/${courseId}?_method=DELETE`;
        deleteForm.submit();
      }
    });
  }
 
});



</script>