<div class="mt-4">
  <form action="/courses/handle-form-actions" method="POST" name="container-form">
<div>
    <a href="/me/stored/courses">Danh sach khoa hoc</a>
    <h2>Khoa hoc da xoa</h2>
  </div>
<div class="d-flex align-items-center gap-3">
      <div class="mt-4 d-inline-flex ">
      <div class="mb-3 form-check">
    <input type="checkbox" class="form-check-input" id="checkBoxAll">
    <label class="form-check-label" for="checkBoxAll">Chon tat ca</label>
  </div>
    </div>
 <select class="form-select-sm " aria-label="Default select example" name="action" required>
  <option value="" selected>----Chon hanh dong</option>
  <option value="destroy">Xoa vinh vien</option>
  <option value="restore">Khoi phuc</option>
</select>
<button class="btn btn-primary btn-sm disabled check-all-submit-btn">Thuc hien</button>
    </div>
  
  
  <table class="table mt-4">
    <thead>
      <tr>
        <th scope="col" colspan="2">#</th>
        <th scope="col">Name</th>
        <th scope="col">Level</th>
        <th scope="col">Image</th>
        <th scope="col">Thoi gian xoa</th>
        <th scope="col">Hanh Dong</th>
      </tr>
    </thead>
    <tbody>
      {{#each courses}}
        <tr>
          <td><div class="mb-3 form-check">
         <input type="checkbox" class="form-check-input" name="courseIds[]" value="{{this._id}}" >
        </div>
        </td>
          <th scope="row">{{sum @index 1}}</th>
          <td>{{this.name}}</td>
          <td>{{this.level}}</td>
          <td>{{this.image}}</td>
          <td>{{this.deletedAt}}</td>
          <td class="d-flex gap-1">
            <a 
              href="" 
              class="btn btn-primary btn-restore" 
              data-id="{{this._id}}"
            >Khoi phuc</a>
            <a
              class="btn btn-danger"
              data-bs-toggle="modal"
              data-bs-target="#delete-Courses-Modal"
              data-bs-id="{{this._id}}"
            >Xoa vinh vien</a>
          </td>
        </tr>
      {{else}}
        <tr class="text-center">
          <td colspan="6">
            Thung rac trong.
            <a href="/me/stored/courses">Danh sach khoa hoc</a>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
  </form>
</div>

{{!-- Confirm delete courses --}}
<form method="POST" action="" name="delete-Form">
  <div id="delete-Courses-Modal" class="modal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Xac nhan xoa</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
        <div class="modal-body">
          <p>Ban co muon xoa khoa hoc nay vinh vien?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Huy</button>
          <button id="btn-delete-courses" type="button" class="btn btn-danger">Xoa bo</button>
        </div>
      </div>
    </div>
  </div>
</form>
{{!-- restore-course-form --}}
<form method="POST" action="" name="restore-Form">
</form>
<script>
  
   document.addEventListener("DOMContentLoaded", () => {
  var deleteForm = document.forms['delete-Form'];
  var restoreForm = document.forms['restore-Form'];
  var btnDeleteCourses = document.querySelector("#btn-delete-courses");
  var exampleModal = document.getElementById('delete-Courses-Modal');
   const btnCheckAllSubmit= document.querySelector(".check-all-submit-btn");
 var checkBoxAll = document.querySelector('#checkBoxAll');
  var courseItemCheckBox = document.querySelectorAll('input[name="courseIds[]"]');

 let courseId = null;
  // check box all click
  checkBoxAll.addEventListener("change",(e)=>{
     const isChecked =  e.target.checked;
      courseItemCheckBox.forEach(cb=>{
        cb.checked = isChecked;
      }) 
      renderCheckAllSubmitBtn();
  })

//check all submit button click

btnCheckAllSubmit.addEventListener("click",function(e){
 btnCheckAllSubmit.addEventListener("submit",(e)=>{
  var isSubmittable  = !btnCheckAllSubmit.classList.contains("disabled");

  if(isSubmittable){
    document.forms["container-form"].submit();
  }
  else{
     e.preventDefault();
  }
 });
})

// course item check box click

courseItemCheckBox.forEach(cb => {
  cb.addEventListener("change", (e) => {
    const checkedAll = courseItemCheckBox.length === document.querySelectorAll('input[name="courseIds[]"]:checked').length;
    // đồng bộ ngược lại với "chọn tất cả"
    checkBoxAll.checked = checkedAll;
    renderCheckAllSubmitBtn();

  });
});
// Re-render check all submit button
function renderCheckAllSubmitBtn(){
  var checkedCount = document.querySelectorAll('input[name="courseIds[]"]:checked').length;
  console.log(checkedCount);
  if(checkedCount > 0){
    btnCheckAllSubmit.classList.remove('disabled');
  }else{
    btnCheckAllSubmit.classList.add('disabled');
  }
}


  // Xử lý khi mở modal delete
  if (exampleModal) {
    exampleModal.addEventListener('show.bs.modal', event => {
      const button = event.relatedTarget;
      courseId = button.getAttribute('data-bs-id');
    });
  }

  // Xử lý khi bấm Xóa
  if (btnDeleteCourses) {
    btnDeleteCourses.addEventListener('click', function () {
      deleteForm.action = '/courses/' + courseId + '/force?_method=DELETE';
      deleteForm.submit();
    });
  }

  // Xử lý khi bấm Restore
  document.querySelectorAll(".btn-restore").forEach(function (btn) {
    btn.addEventListener("click", function (e) {
      e.preventDefault();
      var courseId = btn.getAttribute("data-id");
      restoreForm.action = '/courses/' + courseId + '/restore?_method=PATCH';
      restoreForm.submit();
    });
  });
   });
</script>
